@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  --width-app: 1000px;
  --primary-cl: #e8e6e3;
  --blue-1-cl: #95b3d7;
  --blue-2-cl: #8ba3c9;
  --blue-3-cl: #edfbff;
  --yellow-1-cl: #fffff3;

  --text-cl: #292929;

  --font-family: 'Lato', sans-serif;
}
